name: CI - Create Release and Publish
on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v1.2.0
      with:
        versionSpec: '5.x'

    - name: Determine Version
      id:   gitversion
      uses: gittools/actions/gitversion/execute@v1.2.0
    - name: Semantic Version
      id: version
      uses: paulhatch/semantic-version@v5.4.0
      with:
        tag_prefix: ""
        major_pattern: /feat?/
        minor_pattern: /fix?/
        version_format: "${major}.${minor}.${patch}"
        bump_each_commit: false

    - name: Update version in pom.xml (Release only)
      run: |
        mvn -B versions:set -DnewVersion=${{ steps.version.outputs.version }} -DgenerateBackupPoms=false --file pom.xml
        git config user.email "dishantk@gmail.com"
        git config user.name "Dishant Kamble"
        git add .
        git commit -m "Bump Version - maven"
        git push
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Build with Maven
      run: mvn -B package --file pom.xml install -Dtoken=$GH_TOKEN
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Publish to GitHub Packages Apache Maven
      run: mvn -B deploy -Dregistry=https://maven.pkg.github.com/dishantkamble -Dtoken=$GH_TOKEN
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Generate Release change-log
      id: change-log
      uses: release-drafter/release-drafter@v6
      with:
        name: ${{ steps.version.outputs.version }}
        tag: ${{ steps.version.outputs.version }}
        version: ${{ steps.version.outputs.version }}
        publish: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
